.app {
  font-family: "Open Sans", sans-serif;
  background-color: #1d3557;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: black;
}
.sticky {
  background-color: #a8dadc;
  position: sticky;
  top: 0;
  width: 100%;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo-item {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  text-align: left;
  background-color: white;
  border: 0;
  border-radius: 20px;
  margin: 1vh 0;
  padding: 1vh;
  align-items: center;
  justify-content: space-between;
}

.todo-item > * {
  margin: 0 4vw;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.color {
  color: #3a7d44;
  text-transform: capitalize;
}

button.delete {
  background-color: #e63946;
  color: white;
  text-transform: uppercase;
}

button.info {
  background-color: #457b9d;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container > button {
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  margin: 1vw;
  width: 4rem;
  height: 4rem;
}

.todo-add > button {
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  margin: 1vw;
  width: 4rem;
  height: 4rem;
}

select.status {
  background-color: white;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid black;
  font-size: 2.5vh;
}

select.new {
  color: #b9314f;
}

select.in {
  color: #e26d5c;
}

select.complete {
  color: #3a7d44;
}

div.complete {
  opacity: 50%;
}

.todo-add {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vh 0;
  font-size: 1.5rem;
  width: 100%;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.5rem;
  width: 100%;
  align-items: center;
  background-color: #a8dadc;
  padding: 1vh 0;
}

.filter > input {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.filter > label {
  margin: 0 1vw;
  font-size: 1.5rem;
}

.sort > label {
  margin: 0 1vw;
  font-size: 1.5rem;
}

.sort > select {
  text-align: left;
  background-color: white;
  border: 0;
  border-radius: 10px;
  margin: 1vh 0;
  font-size: 1.5rem;
  padding: 4px;
}

.inputs > input {
  width: 50vw;
  text-align: left;
  background-color: white;
  border: 0;
  border-radius: 10px;
  margin: 1vh 0;
  height: 4rem;
}

button.add {
  background-color: #3a7d44;
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  margin: 1rem 0;
}

input {
  background-color: white;
  font-size: 1.5rem;
  border: 0;
  padding: 1vh;
  margin-bottom: 2vh;
}

@media (min-width: 600px) {
  .todo-add > input {
    font-size: 1.5rem;
  }
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.details {
  font-size: 2.5vh;
  text-align: left;
  width: 100vw;
}

.add-due,
.add-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
