* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo-item {
  /* display: flex;
  flex-wrap: wrap; */
  width: 75vw;
  text-align: center;
  background-color: #e9e9e9;
  border: 0.1vw solid black;
  border-radius: 20px;
  margin: 1vh 0;
  padding: 1vh;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.date {
  font-weight: 200;
  font-size: 1.5rem;
}

.status {
  font-size: 2rem;
}

.color {
  color: green;
  text-transform: capitalize;
}

button.delete {
  background-color: red;
  color: white;
  text-transform: uppercase;
}

button.add {
  background-color: green;
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  margin: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container > button {
  font-size: 1.5rem;
  border: 0;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  margin: 1vw;
}

button.status {
  color: white;
  text-transform: capitalize;
}

span.new {
  color: darkmagenta;
}

button.new {
  background-color: darkmagenta;
}

span.in {
  color: orange;
}

button.in {
  background-color: orange;
}

span.complete {
  color: green;
}

button.complete {
  background-color: green;
}

div.complete {
  opacity: 50%;
}
